body {
  background-color: gray;
  font-size: 20px;
  background-color: #000;
  overflow: hidden; }

.fix-all {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.hide {
  display: none; }

.min-index {
  z-index: -1; }

.menu {
  background-color: #000;
  z-index: 100; }

.menu-btn {
  width: 12em;
  height: 12em;
  display: block;
  float: left;
  position: absolute;
  margin-top: -6em;
  margin-left: -6em;
  background-size: cover;
  top: 25%;
  left: 14%;
  background-image: url(img/menu-btn-off.png); }
  .menu-btn.active {
    background-image: url(img/menu-btn-on.png); }
  .menu-btn.bottom {
    top: 75%; }
  .menu-btn:nth-child(2), .menu-btn:nth-child(5) {
    left: 38%; }
  .menu-btn:nth-child(3), .menu-btn:nth-child(6) {
    left: 62%; }
  .menu-btn:nth-child(4), .menu-btn:nth-child(7) {
    left: 86%; }

.room-img {
  position: absolute;
  top: 50%;
  left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.img-0 {
  background-image: url(img/room-0-1.jpg); }

.img-1 {
  background-image: url(img/room-1-1.png); }

.room-text {
  transition: height .3s;
  position: absolute;
  width: 60em;
  bottom: 0;
  height: 1em;
  left: 50%;
  margin-left: -30em; }
  .room-text.active-small {
    height: 6em; }
  .room-text.active {
    height: 100%; }

.room-text-panel-top {
  position: absolute;
  width: 30em;
  top: 0;
  height: .7em;
  left: 50%;
  margin-left: -15em;
  background-color: #81817f;
  z-index: 1; }

.room-text-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0.5em;
  bottom: 0.5em;
  background-color: #727271; }

.room-text-panel-bottom {
  position: absolute;
  width: 30em;
  bottom: 0;
  height: .7em;
  left: 50%;
  margin-left: -15em;
  background-color: #81817f; }

.zoommer-img {
  width: 16em;
  height: 16em;
  border: 0.2em solid gray;
  z-index: 100;
  background-color: #000;
  position: absolute;
  border-radius: 16em;
  overflow: hidden;
  pointer-events: none;
  box-sizing: border-box; }
  .zoommer-img > div {
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    width: 16em;
    height: 16em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8em;
    margin-left: -8em; }
